footer.footer
  .footer__left
    h3.footer__left__title=prismic.footer.data.title
    p.footer__left__text=prismic.footer.data.description
  ul.footer__right
    li.footer__right__item
      a.footer__right__link(href=prismic.footer.data.link_twitter.url target='_blank') Twitter
    li.footer__right__item
      a.footer__right__link(href=prismic.footer.data.link_email.url target='_blank') Email
    li.footer__right__item
      a.footer__right__link(href=prismic.footer.data.link_github.url  target='_blank') Github