footer.footer
  .footer__left
    h3.footer__left__title(data-animation='title' data-delay=0.4)=prismic.footer.data.title
    p.footer__left__text(data-animation='title' data-delay=0.5)=prismic.footer.data.description
  ul.footer__right
    li.footer__right__item
      a.footer__right__link(href=prismic.footer.data.link_twitter.url target='_blank' data-animation='link' data-delay=0.5) Twitter
    li.footer__right__item
      a.footer__right__link(href=prismic.footer.data.link_email.url target='_blank' data-animation='link' data-delay=0.6) Email
    li.footer__right__item
      a.footer__right__link(href=prismic.footer.data.link_github.url  target='_blank' data-animation='link' data-delay=0.7) Github